@font-face{
    font-family: 'Logo';
    src:url("./fonts/Pangolin-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Roboto";
    src: url('./fonts/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}