$white:white;
$black:black;
$light-black:#020202;
$gray:gray;
$light-gray:#d3d3d3;
$light-blue:#10bbd5;
$transparent:transparent;

$pink:#ff0072;

$page-bar_bg:#353647;
$page-footer_bg:#403042;


$green-success:#218d06;
$red-failure:#ff0033;

$focus-input-border:#01a7e4;