.bars{
    width:45px;
    height:45px;

    position: relative;
    background-color:transparent;

    &__line{
        @extend %absolute-center;
        width:66%;
        height:4px;
        pointer-events: none;
        
        &,&::before,&::after{
            
            background-color: $white;
            transition:0.4s;
        }

        &::before,&::after{
            content:'';
            @extend %master-size;
            @include absolute(auto, 0);
        }
        &::before{
            top:10px;
        }
        &::after{
            bottom:10px;
        }
    }

    &--active .bars__line{
        background-color: transparent;
        
        &::before{
            top:0;
            transform: rotate(45deg) ;
        }
        &::after{
            bottom:0;
            transform: rotate(-45deg) ;
        }
    }
}

@mixin bars--ms {
    .bars{
        display: none;
    }
    
}