.rates{
    height:15px;
    width:0px;
    position: relative;

    &::before{
        content:"";
        @include absolute(0,0,auto,auto);
        @include background-image('star-gray.svg',left center, 15px ,repeat-x);
        height:100%;
        width:75px;
    }

    &::after{
        content:'';
        @extend %master-size;
        @include background-image('star-yellow.svg', left center, 15px , repeat-x);
        @include absolute(0,0,auto,auto);
        z-index: 100;

    }

    &-wrapper{
        width: 75px;
        margin-right: 10px;
    }
    
    .card &{
        margin-top: 4px;
    }
}